body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden !important;
    background: #181818;
}

header{
    background-color: #f6e652;
    padding: 15px 0px;
    display: flex;
    flex-direction: inherit;
}

.container{
    width: 70%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}


nav{
    display: flex;
    align-items: center;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.socialmedia{
    margin: 0 10px;
}

.socialmedia a{
    margin: 0 10px;
}

.socialmedia img{
    width: 40px;
}


/* BurgerMenu */

.bars__menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.bars__menu span{
    display: block;
    width: 100%;
    height: 2px;
    background: #181818;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

/* BurgerMenu */

main{
    margin: 0 auto; 
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    animation: backInUp;
    animation-duration: 1.2s;
    color: rgba(255, 255, 255, .5);
    
}

#servicios{
    margin-top: 99px;
    display: flex;
    flex-direction: column;
    
}


.tituloservicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}


.tarjetas{
    display: grid;
    grid-template-columns: repeat( 3 , 2fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 82px 1px;
    width: 940px;
    margin: 0 auto;
    padding: 50px;

}


.tarjeta-servicio{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 255px;
    height: 650px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: rgba(0,0,0,0.5);
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
    background: #222222;
}

.tarjeta-servicio h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.tarjeta-servicio:hover{
    border-color: rgba(255, 0, 0, .3);
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4);
}


.tarjeta-servicio:hover h2{
    font-size: 33px;
}

.tarjeta-servicio:active{
    border-color: rgba(0, 0, 255, .3);
}

.tarjeta-servicio img{
    border-radius: 15px;
    margin: 5px 5px;
}


.producto-descripcion{
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
}

.producto-precio{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: bold;
    margin-top: 10px ;
}

.producto-btn{
    background: #f6e652;
    padding: 13px;
    text-decoration: none;
    color: #181818;
    font-size: 22px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);

}

.producto-btn a{
    text-decoration: none;
}

.producto-btn:hover,
.producto-btn:focus {
    background: #d3c22e;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}



.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}


.banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    text-decoration: underline 1px solid;
    padding-top: 30px;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 160px;
    float: left;
    margin: 0 20px 20px 0;
}


.mapa{
    padding: 3em 0;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapacont{
    width: 940px;
    margin: 0 auto;
}

.ContDiferenciales{
    width: 640px;
    margin: 0 auto;
}

.listDiff{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.items{
    line-height: 1.5;
}

.items::before{
    content: "★";
}

.items:first-child{
    font-weight: bold;
}

.imagenDiferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 8px black;
}

.imagenDiferenciales:hover{
    opacity: 0.5;
}


.video{
    width: 560px;
    margin: 5em auto;
}

footer{
    width: auto;
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 40px ;
}

@media only screen and (max-width: 768px) {
    
    .container{
        display: flex;
        flex-direction: row;
    }

    img{
        text-align: center;
    }

    .socialmedia{
        display: flex;
    }

    .bars__menu{
        display: block;
    }

    .container__header,
    .about{
        max-width: 768px;
    }


    .menu{
        height: 50vh;
        position: absolute;
        top: 0;
        left: 5200px;
        padding-top: 150px;
        background: rgba(246, 230 ,82);
        flex-direction: column;
        box-shadow: 10px 0px 40px -20px rgba(0,0,0,0.2);
        transition: all 300ms;
    }

    .menu__active{
        left: 0;
        transform: translate(-100px, 0%);
        display: flex;
        justify-content: left;
        align-items: center;
        width: 120vw;
    }

    .menu nav{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .menu nav ul {
        display: flex;
        flex-direction: column;
    }

    .menu nav ul li{
        margin: 8px 0px;
    }

    .menu nav ul li a{
        font-size: var(--lowText_font_size);
    }

    .btn__quote{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .listDiff{
        width: 100%;
    }

    .imagenDiferenciales{
        width: 0%;
    }

    #servicios{
        width: auto;
    }

    .tarjetas{
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .tarjeta-servicio{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    }

    .imgProducto{
        width: auto;
    }

}
